
body{
    margin: 0;
    font-style: futurina;
    font-family: 'Raleway', sans-serif;
}
.body-background{
    position: absolute;
    height: 120vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    left: 0px;
    top: 0px;
}
.cursor-text{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    z-index: 0;
    color: red;
}
.cursor-container{
    height: 120vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(20201121-010158.png);
}

#cursor{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
}

h1:hover ~ #cursor{
    width: 100px;
    height: 100px;
    border: 2px dashed #000;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: translate(-50%,-50%)rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

/* actual body start */

.nav_container{
    display: flex;
    position: absolute;
    z-index: 3;
}

.nav_rightside {
    position: absolute;
    display: flex;
    justify-content: space-between;
    /* padding: 50px; */
    overflow: hidden;
    left: 67vw;
    top: 7.2vh;
    width: 20vw;
    height: 10vh;
    padding: 0em;
    }
    

.nav_logo{
    position: absolute;
    width: 110px;
    height: 105.47px;
    left: 3.47vw;
    top: 4.87vh;
}

.nav_logo img{
    /* size: 110px, 105.47px; */
    width: 100%;
}

#nav_arrow{
    position: absolute;
    left: 64.1vw;
    top: 7.9vh;
    bottom: 97.12%;
    border: 3px #E3B76D;
}

/* #about{
    position: absolute;
    width: 92px;
    height: 30px;
    left: 68.8vw;
    top: 7.9vh;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin: 0px;

} */

/* #contact{
    position: absolute;
    width: 92px;
    height: 30px;
    left: 78.6vw;
    top: 7.9vh;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    text-decoration: none;
} */

/* #nav_holo{
    position: absolute;
    width: 60px;
    height: 37px;
    left: 85.9vw;
    top: 7.25vh;

} */

/* #photography{
    position: absolute;
    left: 3.125vw;
    top: 30.4vh;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
} */

/* #videography{
    position: absolute;
    left: 3.125vw;
    top: 38.4vh;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
} */
/* #web{
    position: absolute;
    left: 3.125vw;
    top: 49.22vh;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
} */
/* #design{
    position: absolute;
    left: 3.125vw;
    top: 54.2vh;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
} */
/* #writing{
    position: absolute;
    left: 3.125vw;
    top: 62.1vh;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
} */
/* #art{
    position: absolute;
    left: 3.125vw;
    top: 70.1vh;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
} */


/* body style */

.body_rectangle{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background: #E3B76D;
}

.body_placeholder{
    width: 100%;
    height: 130vh;
}

.down_arrow{
    position: absolute;
    width: 150px;
    height: 78px;
    left: 44.7vw ;
    top: 94.6vh;
    z-index: 2;
}

.body_name_para{
    margin-left: calc((100vw / 2) - 283.5px);
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
/* identical to box height */
    text-align: center;
    color: #000000;
    z-index: 2;
}

#para_white{ 
    color: #ffffff;
}

.body_connect_para{
    display: flex;
    margin-left: calc((100vw / 2) - 22.5vw);
    height: 470px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #000000;
    z-index: 2;
}

.body_connect_para p{
    width: 45vw;
}

.aboutshit{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}


/* about--------------------------------------------------------------------- */
.aboutBody{
    position:a
}

.aboutSmall{
    width: 100vw;
    height: 48vh;
    background-color: white;
}

.aboutHead{
    width: 100vw;
    height: 105.7vh;
}

.aboutHead div{
    position: absolute;
}

.aboutHeadPic img{
    width: 70vw;
}

.aboutHeadTile{
    position: absolute;
    background-color: #E3B76D;
    width: 100vw;
    height: 105.7vh;
}

.tileRectangle1{
    background-color:#ffffff;
    width: 16.1vw;
    
}

.aboutTile img{
    width: 100vw;
}

.aboutWords{
    background-color: white;
    width: 100vw;
    height: 70vh;
    margin: 0em;
}

#premiereTile{
    background-color: #E3B76D;
    position: absolute;
    width: 374px;
    height: 68px;
    top: 120.1vh;
    left: 63.2vw;
}

#premiereTile p{
    color: #ffffff;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 0em;
}
#lightroomTile{
    background-color: #E3B76D;
    position: absolute;
    width: 309px;
    height: 64px;
    left: 13.625vw;
    top: 130vh;
}

#lightroomTile p{
    color: #ffffff;
    font-size: 45px;
    margin-top: -5px;
    margin-bottom: 0px;
}

#javascriptTile{
    position: absolute;
    background-color: #000000;
    width: 309px;
    height: 64px;
    left: 46vw;
    top: 136vh;;
}

#javascriptTile p{
    color: #E3B76D;
    font-size: 45px;
    margin-left: 5px;
    margin-top: 2px;
}

#photoshopTile{
    position: absolute;
    background-color: #E3B76D;
    width: 309px;
    height: 70px;
    left: 50vw;
    top: 150vh;
}

#photoshopTile p{
    font-size: 45px;
    margin-left: 5vw;
    margin-top: 2vh;
}

#illustratorTile{
    position: absolute;
    background-color: #000000;
    width: 253px;
    height: 68px;
    left: 17vw;
    top: 163vh;
}

#illustratorTile p{
    color: #ffffff;
    font-size: 45px;
    margin-left: 3vw;
    margin-top: 0em;
}

.aboutDescrip{
    background-color: black;
    width: 100vw;
    height: 113.733vh;
    margin-top: 0em;
}

.aboutDescrip p{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    width: 886px;
    height: 705px;
    color: #FFFFFF;
    margin-left: 26.92%;
    padding-top: 10%;
    margin-top: 0em;
}

/* Text Changing––––––––––––––––––––––– */



/* Skills––––––––––––––––––––––––––––––––––––––––––––––– */

.skills-background{
    width: 100vw;
    height: 150vh;
    background-color: #E3B76D;
    position: absolute;
    z-index: 0;
}

.skills-title{
    z-index: 1;
    border: 2px solid #000000;
    position: relative;
    width: 30vw;
    height: 12vh;
    left: calc((100vw / 2) - 15vw);
    top: 30vh;
    margin: 0em;
    border-radius: 3px;
}

.skills-title p{
    margin: 5px 0px;
    left: 50%;
    text-align: center;
    padding-top: 3vh;
    font-size: 40px;
}


.work-grid{
    display: inline-grid;
    z-index: 1;
    position: relative;
    top: 40vh;
    left: calc((100vw / 2) - 23vw);
    grid-gap: 20px;
}

.box-1{
    border: 2px solid #000000;
    width: 47vw;
    height: 25vh;
    display: flex;
    border-radius: 2px;
}

.box-2{
    border: 2px solid #000000;
    width: 47vw;
    height: 25vh;
    display: flex;
    border-radius: 2px;
}
.box-3{
    border: 2px solid #000000;
    width: 47vw;
    height: 25vh;
    display: flex;
    border-radius: 2px;
}

h1{
    font-size: 26px;
}

.skillsBody p{
    font-size: 20px;
}

#my-work{
    font-size: 40px;
}

.gridButton{
    background-color: #000000;
    color: #E3B76D;
    border-radius: 5px;
    font-size: 20px;
    height: 20px;
    width: 15vw;
    text-decoration: none;
    padding: 10px 200px;
    margin-left: 40px;
}

.link-fix{
    width: 300px;
}

.box-1 img{
    padding: 10px;
    height: 90%;
    border-radius: 10%;
}
.box-2 img{
    padding: 10px;
    height: 90%;
    border-radius: 10%;
}
.box-3 img{
    padding: 10px;
    height: 90%;
    border-radius: 10%;
}

.indie-grid-container{
    display: block;
}


/* media */
@media only screen and (max-width: 375px){

#nav_arrow{
    visibility: hidden;
    left: 40vw;
    top: 8.3vh;
}

#nav_qrrow img{
    height: 20px;
}

.down_arrow{
    position: absolute;
    height: 78px;
    margin-left: calc((100vw /2) - 55px);
    top: 94.6vh;
    z-index: 2;
    left: 0px;
    }

    .down_arrow img{
    width: 130px;
}

.body_name_para{
    margin-left: calc((100vw / 4) - 54.5px);
    font-size: 10px;
    line-height: 59px;
}

.body_connect_para{
    margin-left: calc((100vw / 2) - 36vw);
    font-size: 22px;
    line-height: 35px;
}
.body_connect_para p{
    width: 75vw;
}



}